<div class="container">
<div class="cart-container">
  <h2>Your cart<h2>
  <% if !@my_current_orders.empty? %>
    <% @my_current_orders.each do |booking| %>
        <ul>
          <li> <%= link_to booking_path(booking), data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= booking.pokemon.name %> (Level <%= booking.pokemon.level %>) - <%= number_with_delimiter(booking.pokemon.price, delimiter: ',') %> P</li>
        </ul>
      <% end %>
      <div class="total">
        <h4>Total</h4>
        <p><%= number_with_delimiter(@bookings_sum, delimiter: ',') %> P </p>
        <h4>Your balance</h4>
        <p><%= number_with_delimiter(@my_balance, delimiter: ',') %> P</p>
        <% balance_after_purchase = @my_balance - @bookings_sum %>
      <% if balance_after_purchase.negative? %>
        <div class="warning">
          <i class="fa-solid fa-skull-crossbones"></i>
          <h4>Warning</h4>
        </div>
        <p>You need to add at least <%= number_with_delimiter(-balance_after_purchase, delimiter: ',') %> P to your account to make this purchase."</p>

        <div class="form-add-pokedollars">
          <%= simple_form_for(@user, url: update_balance_path(user_id: current_user.id), method: :put) do |f| %>
            <%= f.input :balance, label: "How much do you want to add?", input_html: { value: -balance_after_purchase } %>
            <%= f.submit "Add Pokédollars", class: "button-cart" %>
          <% end %>
        </div>
      <% else %>
        <h4>Your balance after purchase</h4>
        <p><%= number_with_delimiter(balance_after_purchase, delimiter: ',') %> P</p>
        <div class="button-checkout">
          <%= link_to 'Checkout', confirm_path, data: {turbo_method: :post} %>
        </div>
      </div>
      <% end %>
  <% else %>
    <p> You have nothing in your cart at the moment.</p>
  <% end %>


  <% if !@my_past_orders.empty? %>
    <h2>Your previous orders</h2>
    <% @my_past_orders.each do |booking| %>
      <ul>
        <li>
        <p><%= booking.pokemon.name %> - LVL <%= booking.pokemon.level %> - PRICE: <%= number_with_delimiter(booking.pokemon.price, delimiter: ',') %> P</p>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
