<div class="container">
<div class="cart-container">
  <h2>Your cart<h2>
  <% if !@my_current_orders.empty? %>
    <% @my_current_orders.each do |booking| %>
        <ul>
          <li> <%= link_to booking_path(booking), data: { turbo_method: :delete } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
          <%= booking.pokemon.name %> (Level <%= booking.pokemon.level %>) - <%= number_with_delimiter(booking.pokemon.price, delimiter: ',') %> P</li>
        </ul>
      <% end %>
      <div class="total">
        <h4>Total</h4>
        <p><%= number_with_delimiter(@bookings_sum, delimiter: ',') %> P </p>
        <h5>Your balance</h5>
        <p><%= number_with_delimiter(@my_balance, delimiter: ',') %> P</p>
        <h5>Your balance after purchase</h5>
        <% balance = @my_balance - @bookings_sum %>
        <p><%= balance < 0 ? "You need to add at least #{number_with_delimiter(-balance, delimiter: ',')} P to your account to make this purchase." : "#{number_with_delimiter(balance, delimiter: ',')} P" %></p>
      </div>

      <div class="button-checkout">
        <%= link_to 'checkout', confirm_path, data: {turbo_method: :post} %>
      </div>
    <% else %>
    <p> You have nothing in your cart at the moment.</p>
  <% end %>


  <% if !@my_past_orders.empty? %>
    <h2>Your previous orders</h2>
    <% @my_past_orders.each do |booking| %>
      <ul>
        <li>
        <p><%= booking.pokemon.name %> - LVL <%= booking.pokemon.level %> - PRICE: <%= number_with_delimiter(booking.pokemon.price, delimiter: ',') %> P</p>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
