
<div class="container-new">
    <h1>Add a new Pokemon</h1>
    <div class="form">
      <%= simple_form_for(@pokemon) do |f| %>
        <%= f.input :name, class: 'input' %>
        <%= f.input :level, class: 'input' %>
        <%= f.input :pokemon_type, class: 'input' %>
        <%= f.input :description, class: 'input'%>
        <%= f.input :price, class: 'input' %>
        <%# <%= f.input :picture, label: 'Enter URL' %>
        <%= f.submit class: "card-button" %>
      <% end %>
    </div>
</div>
