<div class="container">
  <div class="card-show">
    <%= image_tag @pokemon.picture, alt: "pokemon", class: "poke-image" %>
    <div class="detail">
      <div class="info">
        <h1><%= @pokemon.name %></h1>
        <h2> <%= @pokemon.price %></h2>
        <ul class="list">
          <li> Type <br> <%= @pokemon.pokemon_type %></li>
          <br>
          <li> Level <br> <%= @pokemon.level %></li>
          <br>
          <li> Description <br> <%= @pokemon.description %></li>
          <br>
        </ul>
      </div>
      <div>
        <% if @pokemon.can_be_booked? %>
          <%= simple_form_for [@pokemon, @booking] do |f|%>
            <%= f.input :pokemon, as: :hidden, value: @pokemon %>
            <%= f.submit "Add to cart", class: "button-cart" %>
          <% end %>
          <%#= button_to “Add to cart”, pokemon_bookings_path(@pokemon), method: :post %>
        <% elsif @pokemon.has_been_booked_by?(current_user) %>
          <p class="text-center">This pokemon is now in your cart !</p>
        <% else %>
          <p class="text-center">This pokemon has already been booked</p>
        <% end %>
      </div>
     </div>
  </div>
</div>
