<div>
  <h1><%= @pokemon.name %></h1>
    <div>
      <ul>
        <li> <%= @pokemon.picture %></li>
        <li> <%= @pokemon.pokemon_type %></li>
        <li> <%= @pokemon.level %></li>
        <li> <%= @pokemon.price %></li>
        <li> <%= @pokemon.description %></li>
      </ul>
    </div>
    <br>
    <%= link_to "Add to cart", pokemon_bookings_path(@pokemon) %>
</div>
