<div class="container">
  <div class="cards">
    <div class="card-category">
      <img class="poke-image" src="<%= @pokemon.picture %>" alt="Pokemon">
    </div>
    <div class="card-category">
      <div class="detail">
        <h1> <%= @pokemon.name %></h1>
        <ul class="list">
          <li> <%= @pokemon.pokemon_type %></li>
          <li> <%= @pokemon.price %></li>
          <li> <%= @pokemon.level %></li>
        </ul>
      </div>
        <%= link_to "Add to cart", pokemon_bookings_path(@pokemon) %>
    </div>
  </div>
  <div class="description"><%= @pokemon.description %></div>
</div>
