<div>
  <h1><%= @pokemon.name %></h1>
    <div>
      <ul>
        <li> <%= @pokemon.picture %></li>
        <li> <%= @pokemon.pokemon_type %></li>
        <li> <%= @pokemon.level %></li>
        <li> <%= @pokemon.price %></li>
        <li> <%= @pokemon.description %></li>
      </ul>
    </div>
</div>
